* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main{
    display: flex;
    min-height: 60vh;
}

#main > article {
    flex: 1;
}

#main > nav, #main > aside{
    flex: 0 0 20vw;
    background-color: #F1E4C3;
}

#main > nav{
    order: -1;
}

header, footer, article, nav, aside{
    padding: 1em;
}

header, footer{
    background-color: #D5F0C1;
    height: 20vh;
}
